<wh-layout class="layout1">
  <wh-panel id="wh-banner" class="banner"></wh-panel>
  <wh-panel id="wh-menu" class="menu">
    <wh-menu-test></wh-menu-test>
  </wh-panel>
  <wh-panel id="wh-body" class="body">
    <wh-ws class="blue"><a>yanny esteban</a><p slot="rating-title">New Rating Title</p><img src="./images/icon.png" alt="" /></wh-ws>
  </wh-panel>
</wh-layout>

<fancy-tabs1 background>
  <button slot="title">Tab 1</button>
  <button slot="title" selected>Tab 2</button>
  <button slot="title">Tab 3</button>
  <button slot="title">Tab 4</button>
  <button slot="title">Tab 5</button>
  <section>content panel 1</section>
  <section>content panel 2</section>
  <section>content panel 3</section>
  <section>content panel 4</section>
  <section>content panel 5</section>
</fancy-tabs1>